<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight([%-5p]) %d{yyyy-MM-dd HH:mm:ss} %cyan([%-10thread]) %magenta([%X{traceId}/%X{spanId}]) %yellow(%c{0}):%L - %m%n
            </pattern>
        </encoder>
    </appender>
    <logger name="com.miqdigital.scheduling" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.intuit.karate" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
